@model SKV.Models.NguoiDung

@{
    ViewBag.Title = "Trang Quản Lí";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<h2>Thêm Người Dùng</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Người Dùng</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaiKhoan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaiKhoan)
            @Html.ValidationMessageFor(model => model.TaiKhoan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MatKhau)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MatKhau)
            @Html.ValidationMessageFor(model => model.MatKhau)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenNguoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenNguoiDung)
            @Html.ValidationMessageFor(model => model.TenNguoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CapDo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CapDo)
            @Html.ValidationMessageFor(model => model.CapDo)
        </div>

      

        <p>
            <input type="submit" value="Thêm" />
        </p>
    </fieldset>
}



