@model IEnumerable<SKV.Models.ThucDon>

@{
    ViewBag.Title = "Trang Quản Lí";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<div class="but" style="margin-left: 80px;padding-top:20px; "><a href="@Url.Action("ThemTD","AdminUser")"<button>Thêm Thực Đơn</button></a></div>
<div class="content" style="margin-left:100px; padding-top:50px;">

    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr align="center">
                <th>Hình Ảnh </th>
                <th>Tên Món Ăn</th>
                <th>Loại </th>
                <th>Mô Tả</th>
            </tr>
        </thead>
        <tbody>
           @foreach(var item in Model)
            {
                <tr class="odd gradeX" align="center">
                    <td>@Html.DisplayFor(modelItem => item.HinhAnh)</td>
                    <td>@Html.DisplayFor(modelItem => item.TenMonAn)</td>
                    <td>@Html.DisplayFor(modelItem => item.Loai)</td>
                    <td>@Html.DisplayFor(modelItem => item.MoTa)</td>
                    <td><a href="@Url.Action("SuaTD","AdminUser",new {@id = item.id })">Sửa</a></td>
                    <td> <a href="@Url.Action("XoaTD","AdminUser",new { @id = item.id})">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>