    @{
    ViewBag.Title = "Index";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sức Khỏe Vàng</title>
    <link href="~/CSS/index.css" rel="stylesheet" />
    <script src="~/JV/jquery-3.3.1.min.js">y</script>
    <script src="~/JV/quey.js"></script>
</head>

<body>
    <div class="top1">
        <div class="add">
            <span class="loca">
                <span>
                    <span><img src="~/IMG/icon_phone.png" width="20" /></span>
                    
                    <span class="font1">083 513 6789</span>
                </span>
                <span>
                    <span><img src="~/IMG/e-mail-icoontje-wit.png" width="32" /></span>

                  
                    <span class="font1">Suckhoevang@gmail.com</span>
                </span>
                <span>
                </span>
            </span>
            <span class="wl"> <div class="right">Số Lượng Thành Viên : @ViewBag.Songuoidung</div></span>
        </div>
        <div class="logo1">
            <div class="log">
                <img src="~/IMG/42922250_491893567957426_5010879434471768064_n.jpg" width="200" height="91" />
            </div>
            <div class="mn">
                <ul>
                    <li><a href="@Url.Action("Index","Home")">TRANG CHỦ</a></li>
                    <li><a href="@Url.Action("Thucpham","Home")">THỰC PHẨM </a></li>
                    <li><a href="@Url.Action("Luyentap","Home")">LUYỆN TẬP </a></li>
                    <li><a href="@Url.Action("Meovat","Home")">MẸO VẶT </a></li>
                    <li>
                        <div class="box">
                            <div class="container-4">
                                @using (Html.BeginForm("TimKiem", "Home", FormMethod.Post))
                                {
                                    <input type="text" id="skey" name="skey" placeholder="Search...                  🔍" />
                                    <input type="submit" value="Tim Kiem" />
                                }

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="login">
                <ul>
                    @if (Session["UserName"] == null)
                            {
                        <li><a style="color:black" href="@Url.Action("Dangki","Home")">ĐĂNG KÍ</a></li>
                        <li id="lg"><a style="color:black" href="@Url.Action("Login","Home")">ĐĂNG NHẬP</a></li>
                    }
                    else
                    {
                        <p>Xin chào: @Session["UserName"]</p>
                        <a href="@Url.Action("Thoat","Home")">
                            <p>Thoát </p>
                        </a>
                        
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="baner">
        <div class="over">
            <div class="sli">
                <img src="~/IMG/salad-2756467_1920.jpg" />
                <img src="~/IMG/sports-731506_1920.jpg" />
                <img src="~/IMG/handstand-2224104_1920.jpg" />
            </div>
        </div>
    </div>
    <div class="main">
        <div class="left">
            <p style="color:#000">CÁC BƯỚC CƠ BẢN ĐỂ CÓ MỘT SỨC KHỎE VÀNG:</p>
            <br /><p style="color:#000" id="gach">- - -</p>
            <div class="bao">
                <div style="color:#000" class="number">
                    1
                </div>
                <div class="text">
                    <div style="color:#000" class="cc">ĂN & UỐNG</div>
                    <br />Ăn uống lành mạnh mang lại rất nhiều lợi ích, nhất là chúng ta biến nó thành thói quen hàng ngày. Thiết lập phong cách sống lành mạnh ngay từ sớm sẽ mang nhiều lợi ích lâu dài. Những người tập ăn uống lành mạnh ngay từ nhỏ sẽ giữ được thói quen này ngay cả khi họ trưởng thành. Việc này giúp họ tránh được nhiều bệnh khi lớn tuổi như béo phì, các bệnh tim mạch, tiểu đường và ngay cả ung thư.
                </div>
            </div>
            <div class="bao1">
                <div style="color:#000" class="number">
                    2
                </div>
                <div class="text">
                    <div style="color:#000" class="cc">LUYỆN TẬP</div>
                    <br />Dù chỉ vận động 10 phút mỗi ngày nhưng việc tập thể dục vẫn đem lại nhiều lợi ích cho sức khỏe như giảm căng thẳng, đẹp da, làm chậm quá trình lão hóa.Chúng ta thường nghĩ rằng, luyện tập thể dục thể thao đơn giản chỉ là để thư giãn và rèn luyện cơ bắp, tuy nhiên, thực tế cho thấy luyện tập còn có nhiều lợi ích khác nữa. Vì chưa biết đến tác dụng của việc tập luyện thể dục thể thao nên nhiều người chưa coi trọng việc này.


                </div>
            </div>
            <div class="bao2">
                <div style="color:#000" class="number">
                    3
                </div>
                <div class="text">
                    <div style="color:#000" class="cc">NGHỈ NGƠI</div>
                    <br />Nghỉ ngơi đủ để cho cơ thể chúng ta nạp và tái tạo lại năng lượng để có một sức khỏe tốt hơn.
                </div>
            </div>
        </div>
        @*<div class="right">Số Lượng Thành Viên Đăng Kí: @ViewBag.Songuoidung</div>*@
        <style>
            .fb-livechat, .fb-widget {
                display: none
            }

            .ctrlq.fb-button, .ctrlq.fb-close {
                position: fixed;
                right: 24px;
                cursor: pointer
            }

            .ctrlq.fb-button {
                z-index: 999;
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOCAxMjgiIGhlaWdodD0iMTI4cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTI4cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxyZWN0IGZpbGw9IiMwMDg0RkYiIGhlaWdodD0iMTI4IiB3aWR0aD0iMTI4Ii8+PC9nPjxwYXRoIGQ9Ik02NCwxNy41MzFjLTI1LjQwNSwwLTQ2LDE5LjI1OS00Niw0My4wMTVjMCwxMy41MTUsNi42NjUsMjUuNTc0LDE3LjA4OSwzMy40NnYxNi40NjIgIGwxNS42OTgtOC43MDdjNC4xODYsMS4xNzEsOC42MjEsMS44LDEzLjIxMywxLjhjMjUuNDA1LDAsNDYtMTkuMjU4LDQ2LTQzLjAxNUMxMTAsMzYuNzksODkuNDA1LDE3LjUzMSw2NCwxNy41MzF6IE02OC44NDUsNzUuMjE0ICBMNTYuOTQ3LDYyLjg1NUwzNC4wMzUsNzUuNTI0bDI1LjEyLTI2LjY1N2wxMS44OTgsMTIuMzU5bDIyLjkxLTEyLjY3TDY4Ljg0NSw3NS4yMTR6IiBmaWxsPSIjRkZGRkZGIiBpZD0iQnViYmxlX1NoYXBlIi8+PC9zdmc+) center no-repeat #0084ff;
                width: 60px;
                height: 60px;
                text-align: center;
                bottom: 111px;
                border: 0;
                outline: 0;
                border-radius: 60px;
                -webkit-border-radius: 60px;
                -moz-border-radius: 60px;
                -ms-border-radius: 60px;
                -o-border-radius: 60px;
                box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
                -webkit-transition: box-shadow .2s ease;
                background-size: 80%;
                transition: all .2s ease-in-out
            }

                .ctrlq.fb-button:focus, .ctrlq.fb-button:hover {
                    transform: scale(1.1);
                    box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24)
                }

            .fb-widget {
                background: #fff;
                z-index: 1000;
                position: fixed;
                width: 360px;
                height: 435px;
                overflow: hidden;
                opacity: 0;
                bottom: 0;
                right: 24px;
                border-radius: 6px;
                -o-border-radius: 6px;
                -webkit-border-radius: 6px;
                box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
                -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
                -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
                -o-box-shadow: 0 5px 40px rgba(0, 0, 0, .16)
            }

            .fb-credit {
                text-align: center;
                margin-top: 8px
            }

                .fb-credit a {
                    transition: none;
                    color: #bec2c9;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 12px;
                    text-decoration: none;
                    border: 0;
                    font-weight: 400
                }

            .ctrlq.fb-overlay {
                z-index: 0;
                position: fixed;
                height: 100vh;
                width: 100vw;
                -webkit-transition: opacity .4s, visibility .4s;
                transition: opacity .4s, visibility .4s;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, .05);
                display: none
            }

            .ctrlq.fb-close {
                z-index: 4;
                padding: 0 6px;
                background: #365899;
                font-weight: 700;
                font-size: 11px;
                color: #fff;
                margin: 8px;
                border-radius: 3px
            }

                .ctrlq.fb-close::after {
                    content: "X";
                    font-family: sans-serif
                }

            .bubble {
                width: 20px;
                height: 20px;
                background: #c00;
                color: #fff;
                position: absolute;
                z-index: 999999999;
                text-align: center;
                vertical-align: middle;
                top: -2px;
                left: -5px;
                border-radius: 50%;
            }

            .bubble-msg {
                width: 120px;
                left: -140px;
                top: 5px;
                position: relative;
                background: rgba(59, 89, 152, .8);
                color: #fff;
                padding: 5px 8px;
                border-radius: 8px;
                text-align: center;
                font-size: 13px;
            }
        </style><div class="fb-livechat"> <div class="ctrlq fb-overlay"></div><div class="fb-widget"> <div class="ctrlq fb-close"></div><div class="fb-page" data-href="https://www.facebook.com/S" data-tabs="messages" data-width="360" data-height="400" data-small-header="true" data-hide-cover="true" data-show-facepile="false"> </div><div class="fb-credit"> <a href="https://chanhtuoi.com" target="_blank">Powered by Chanhtuoi</a> </div><div id="fb-root"></div></div><a href="https://m.me/S" title="Gửi tin nhắn cho chúng tôi qua Facebook" class="ctrlq fb-button"> <div class="bubble">1</div><div class="bubble-msg">Bạn cần hỗ trợ?</div></a></div>
        <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>$(document).ready(function () { function detectmob() { if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) { return true; } else { return false; } } var t = { delay: 125, overlay: $(".fb-overlay"), widget: $(".fb-widget"), button: $(".fb-button") }; setTimeout(function () { $("div.fb-livechat").fadeIn() }, 8 * t.delay); if (!detectmob()) { $(".ctrlq").on("click", function (e) { e.preventDefault(), t.overlay.is(":visible") ? (t.overlay.fadeOut(t.delay), t.widget.stop().animate({ bottom: 0, opacity: 0 }, 2 * t.delay, function () { $(this).hide("slow"), t.button.show() })) : t.button.fadeOut("medium", function () { t.widget.stop().show().animate({ bottom: "30px", opacity: 1 }, 2 * t.delay), t.overlay.fadeIn(t.delay) }) }) } });</script>
    </div>
    <div id="footer">
        <div class="hotro">
            <h2>Hỗ trợ</h2>
            <ul><li>Hotline: 083 513 6789</li></ul>
            <ul><li>Email: suckhoeviet@gmail.com</li></ul>
        </div>
        <div class="lh">
            <h2>Liên hệ</h2>
            <ul><li>Tuyển dụng</li></ul>
            <ul><li>Tư vấn trực tiếp</li></ul>
        </div>
        <div class="tt">
            <h2>Thông tin</h2>
            <ul><li>Về chúng tôi</li></ul>
            <ul><li>Chính sách bảo mật</li></ul>
        </div>
    </div>
    <script type="text/javascript" src="quey.js"></script>
</body>
</html>
